#header{background-color: rgb(0, 123, 31);color: white;}
#footer{background-color: rgb(0, 123, 31);color: white;}

#A1{background-color: #3399FF;}
#A2{background-color: #3399CC;}
#A3{background-color: #339999;}
#A4{background-color: #339966;}

#B1{background-color: #3366FF;}
#B2{background-color: #3366CC;}
#B3{background-color: #336699;}
#B4{background-color: #336666;}

#C1{background-color: #3333FF;color: white;}
#C2{background-color: #3333CC;color: white;}
#C3{background-color: #333399;color: white;}
#C4{background-color: #333366;color: white;}

#D1{background-color: #3300FF;color: white;}
#D2{background-color: #3300CC;color: white;}
#D3{background-color: #330099;color: white;}
#D4{background-color: #330066;color: white;}

#A1,#A2,#A3,#A4,#B1,#B2,#B3,#B4{color: white;}